<%= form_for [@user, @business] do |f| %>
  <% if @business.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @business.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :business_name, placeholder: "Business Name" %>
  </div>
  <div class="field">
    <%= f.text_field :website_url, placeholder: "Website URL" %>
  </div>
  <div class="field">
    <%= f.number_field :phone_number, placeholder: "Phone Number" %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>