<%= simple_form_for sessions_path(@user) do |f|%>
  <div class="field">
    <%= f.input :email, placeholder: "Email" %>
    <%= f.input :password, placeholder: "Password" %>
  </div>
  <div class="actions"><%= f.button :submit %></div>
  <div class="userinfo"> 
		<%= label_tag "Keep me logged in" %>
		<%= check_box_tag :remember %>
	</div>
<% end %>