<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.input :first_name, placeholder: "First Name" %>
    <%= f.input :last_name, placeholder: "Last Name" %>
    <%= f.input :email, placeholder: "Email" %>
    <%= f.input :password, placeholder: "Password" %>
    <%= f.input :password_confirmation, placeholder: "Confirm Password" %>
   <%= f.input :image %>
    </div>
  <div class="actions"><%= f.button %></div>
<% end %>