<div class="section-content">
  <h2><%= @user.first_name + " " + @user.last_name%> </h2>
  <% if @user == current_user %>
    <div class="profile-button"><%= link_to "Edit", edit_user_registration_path(@user), class:"button", class:"diff" %></div>
  <% end %>
  <legend></legend>
  <div class="circular" style="background-image: url(<%= @user.image %>)"></div>
  <% if @user.role == "Courier" %>
    <div id="myMap" class="couriermap" style="width:50%;height:200px;"></div>
    <div id="star"data-score="1"></div>
  <% end %>
  <table class="table">
    <tbody>
      <tr><td>Email</td><td class="value"><%= @user.email %></td></tr>
      <% if @user.role == "Courier" %>
        <tr><td>Average Rating</td><td class="value"><span class="avg"><%= @user.average_rating %></span> (<span class="count"><%= @user.ratings.count %></span> ratings)</td></tr>
      <% else %>
        <tr><td>Annual Subscription ($100)</td><td class="value"><%= render 'charges/new' %></td></tr>
      <% end %>
    </tbody>
  </table>
<% if (@user.id != current_user.id) && (@user.role == "Courier") %>  
  <!-- Button trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Rate this courier</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Rating</h4>
        </div>
        <div class="modal-body" data-raty-url="<%= user_ratings_path(@user) %>">
          <div class="modal-body" id="star" name="stary"></div>
        </div>
        <div class="modal-footer">
            
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<% end %>
</div>