<div class="section-content">
  <%= link_to "Edit", edit_user_registration_path(@user), class:"button", class:"diff" %>
  <h1><%= @user.first_name + " " + @user.last_name%> </h1>
  <div class="profile_pic"><%= image_tag @user.image_url.to_s %></div>
  <% if @user.role == "Courier" %>
    <div id="myMap" style="width:50%;height:200px;"></div>
    <div id="star"data-score="1"></div>
  <% else %>
    <%= link_to "Add a new business", new_business_path(@business), class:"button"%>
  <% end %>
  </br>
  </br>
  <table class="table">
    <tbody>
      <tr><td>Name:</td><td class="value"> <%= @user.first_name + " " + @user.last_name %></td></tr>
      <tr><td>Email:</td><td class="value"> <%= @user.email %></td></tr>
      <% if @user.role == "Courier" %>
        <tr><td>Average Rating:</td><td class="value"> <%= @user.average_rating %> (<%=@user.ratings.count %> ratings)</td></tr>
      <% end %>
    </tbody>
  </table>
  
  <% if (@user.id != current_user.id) && (@user.role == "Courier") %>
    <%= render "/ratings/form" %>
  <% end %>

</div>