<div class="section-content">
  <h2><%= @user.first_name + " " + @user.last_name%> </h2>
  <div class="profile-button"><%= link_to "Edit", edit_user_registration_path(@user), class:"button", class:"diff" %></div>
  <legend></legend>
  <div class="circular" style="background-image: url(<%= @user.image %>)"></div>
  <% if @user.role == "Courier" %>
    <div id="myMap" class="couriermap" style="width:50%;height:200px;"></div>
    <div id="star"data-score="1"></div>
  <% end %>
  <table class="table">
    <tbody>
      <tr><td>Email:</td><td class="value"> <%= @user.email %></td></tr>
      <% if @user.role == "Courier" %>
        <tr><td>Average Rating:</td><td class="value"> <%= @user.average_rating %> (<%=@user.ratings.count %> ratings)</td></tr>
      <% end %>
    </tbody>
  </table>
  <% if (@user.id != current_user.id) && (@user.role == "Courier") %>
    <%= render "/ratings/form" %>
  <% end %>

</div>