<<<<<<< Updated upstream
<div class="section-content">
  <%= link_to "Edit", edit_user_registration_path(@user), class:"button", class:"diff" %>
<h1><%= @user.first_name + " " + @user.last_name%> </h1>


  <div class="picture"><%= image_tag @user.image_url.to_s %></div>
  <% if current_user.role == "Courier" %>
    <div id="myMap" style="width:90%;height:380px;"></div>
  <% end %>
  </br>
  <%= link_to "Add a new business", new_business_path(@business), class:"button" %>
  </br>
  </br>
  <table>
      <tbody>
        <tr><td>Name:</td><td class="value"> <%= @user.first_name + " " + @user.last_name %></td></tr>
  <tr><td>Email:</td><td class="value"> <%= @user.email %></td></tr>
</tbody>
</table>
</div>
=======
>>>>>>> Stashed changes
