<div class="section-content">
<%= link_to "Edit", edit_user_path(@user), class:"button", class:"diff" %>
<h1><%= @user.first_name + " " + @user.last_name%> </h1>


  <div class="picture"><%= image_tag @user.image_url.to_s %></div>
  </br>
  </br>
  </br>
  <table class="table-striped">
      <tbody>
        <tr><td>Name:</td><td class="value"> <%= @user.first_name + " " + @user.last_name %></td></tr>
  <tr><td>Email:</td><td class="value"> <%= @user.email %></td></tr>
</tbody>
</table>
</div>