<%= simple_form_for [@business, @location, @order] do |f| %>
  <div><% f.error_notification %></div>
  <div>
    <fieldset>
      <div class="form-group">
        <%= f.input :delivery_address, placeholder: "32 Woodbine St, Toronto, Canada", autofocus: true %>
      </div>
      <div class="form-group">
       <%= f.input :phone_number, placeholder: "(416) 200-4219" %>
      </div>
      <div class="form-group">
        <%= f.input :email, placeholder: "name@email.com" %>
      </div>
      <div class="form-group">
        <%= f.input :packaging, collection: ["Swish Small", "Swish Regular", "Swish Large"], include_blank: false %>
      </div>
      <div class="form-group">
        <%= f.input :weight, placeholder: "10" %>
      </div>
      <div class="form-group">
        <%= f.input :declared_value, placeholder: "25" %>
      </div>
    </fieldset>
    <form onsubmit="javascript: return false;">
      <div class="form-group">
        <strong>Pickup Time:</strong></br> <input type="text" name="date" id="date" placeholder="Date" />
        <input type="text" name="time" id="time" placeholder="Time" />
      </div>
      <div class="form-group">
        <strong>Delivery Time:</strong></br> <input type="text" name="date" id="date2" placeholder="Date" />
        <input type="text" name="time" id="time2" placeholder="Time" />
      </div>
    </form>
  </div>
  <div class="actions"><%= f.button :submit %></div>
<% end %>