<%= simple_form_for [@business, @location, @order] do |f| %>
  <div><% f.error_notification %></div>
  <div>
    <fieldset>
      <div class="form-group">
        <%= f.input :delivery_address, placeholder: "Address", autofocus: true %>
      </div>
      <div class="form-group">
       <%= f.input :phone_number, placeholder: "Phone Number" %>
      </div>
      <div class="form-group">
        <%= f.input :email, placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= f.input :packaging, collection: ["Swish Small", "Swish Regular", "Swish Large"], include_blank: false %>
      </div>
      <div class="form-group">
        <%= f.input :weight, placeholder: "Weight (kg)" %>
      </div>
      <div class="form-group">
        <%= f.input :declared_value, placeholder: "Declared Value (CAD)" %>
      </div>
      <div class="form-group">
        <strong>Pickup Time:</strong></br>
        <input type="text" name="pickup_date" id="date" placeholder="Date" />
        <input type="text" name="pickup_hour" id="time" placeholder="Time" />
      </div>
      <div class="form-group">
        <strong>Delivery Time:</strong></br> <input type="text" name="delivery_date" id="date2" placeholder="Date" />
        <input type="text" name="delivery_hour" id="time2" placeholder="Time" />
      </div>
    </fieldset>
  </div>
  <div class="actions"><%= f.button :submit %></div>
<% end %>