<%= form_for [@user, @business, @location, @order] do |f| %>
  <% if @order.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @order.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_field :delivery_address, placeholder: "Delivery Address" %>
  </div>
  <div class="field">
    <%= f.phone_field :phone_number, placeholder: "Phone Number" %>
  </div>
  <div class="field">
    <%= f.label "Packaging:" %>
    <%= f.select :packaging, options_for_select(["Swish Small", "Swish Regular", "Swish Large", "Custom"]) %>
  </div>
  <div class="field">
    <%= f.label "Package Dimensions:" %>
    <%= f.number_field :length, placeholder: "Length (cm)" %>
    <%= f.number_field :width, placeholder: "Width (cm)" %>
    <%= f.number_field :height, placeholder: "Height (cm)" %>
  </div>
  <div class="field">
    <%= f.number_field :weight, placeholder: "Weight" %>
  </div>
  <div class="field">
    <%= f.number_field :quantity, placeholder: "Quantity" %>
  </div>
  <div class="field">
    <%= f.number_field :declared_value, placeholder: "Declared Value (CAD)" %>
  </div>
  <div class="field">
    <%= f.label "Pickup Time:" %>
    <%= f.datetime_select(:pickup_time, minute_step: 30, ampm: true, start_year: DateTime.now.year) %>
  </div>
  <div class="field">
    <%= f.label "Delivery Time:" %>
    <%= f.datetime_select(:delivery_time, minute_step: 30, ampm: true, start_year: DateTime.now.year) %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>