<table class="table table-hover" style="width:90%;">
  <tbody>
    <tr><td>Delivery Time</td><td class="value"> <%= @order.delivery_time %></td></tr>
    <tr><td>Delivery Address</td><td class="value"><%= @order.delivery_address %></td></tr>
    <tr><td>Pickup Time</td><td class="value"> <%= @order.pickup_time %></td></tr>
    <tr><td>Pickup Address</td><td class="value"> <%= @location.address %></td></tr>
    <tr><td>Phone Number</td><td class="value"> <%= @order.phone_number %></td></tr>
  </tbody>
</table>