<div class="section-content">
  <h1>Orders</h1>
  <%= form_tag orders_path, method: 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "search", name: nil %>
    </p>
  <% end %>
  <table class="pretty">
    <tr>
      <th><%= sortable "tracking_number"%></th>
      <th><%= sortable "status"%></th>
      <th><%= sortable "pickup_time"%></th>
      <th><%= sortable "delivery_time"%></th>
      <th><%= sortable "delivery_address"%></th>
      <th><%= sortable "location_name", "Location"%></th>
      <th><%= sortable "courier"%></th>
    </tr>

    <% if current_user.role == "Merchant" %>

      <% @location.each do |l| %>
        <% l.orders.each do |o| %>
          <tr>
            <td><%= link_to o.tracking_number, business_location_order_path(o.location.business, o.location, o) %></td>
            <td><%= Geocoder::Calculations.distance_between(o.location.address, o.delivery_address).round(2) %> miles away!</td>
            <td><%= o.pickup_time.strftime("%b %e, %l:%M %p") %></td>
            <td><%= o.delivery_time.strftime("%b %e, %l:%M %p") %></td>
            <td><%= o.delivery_address %></td>
            <td><%= o.location.location_name %></td>
            <td><%= o.user.first_name %></td>
          </tr>
        <% end %>
      <% end %>

    <% end %>

    <% if current_user.role == "Courier" %>

      <% @order.each do |o| %>
        <tr>
          <td><%= link_to o.tracking_number, business_location_order_path(o.location.business, o.location, o) %></td>
          <td><%= Geocoder::Calculations.distance_between(o.location.address, o.delivery_address).round(2) %> miles away!</td>
          <td><%= o.pickup_time.strftime("%b %e, %l:%M %p") %></td>
          <td><%= o.delivery_time.strftime("%b %e, %l:%M %p") %></td>
          <td><%= o.delivery_address %></td>
          <td><%= o.location.location_name %></td>
          <td><%= o.user.first_name %></td>
        </tr>
      <% end %>

    <% end %>

  </table>
</div>