<div class="section-content">
  <h1>Orders</h1>
  <% form_tag business_location_order_path(@business, @location, @order) do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "search" %>
  </p>
  <% end %>
  <% @order.each do |o| %>
    <table class="table-striped">
      <tbody>
        <tr><td><%= link_to o.tracking_number, business_location_order_path(o.location.business, o.location, o) %></td></tr>
        <tr><td>Status: </td><td class="value">Package is <%= Geocoder::Calculations.distance_between(o.location.address, o.delivery_address).round(2) %> miles away!</td></tr>
        <tr><td>Delivery Time: </td><td class="value"><%= o.delivery_time %></td></tr>
        <tr><td>Delivery Address: </td><td class="value"><%= o.delivery_address %></td></tr>
      </tbody>
    </table>
  <% end %>
</div>