<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
  $(function() {
    $( "#accordion" ).accordion({ collapsible: true });
    $(this).addClass('newClass')
  });
  </script>
</head>
<div class="section-content">
  <h1>Orders</h1>
  <%= form_tag orders_path, method: 'get', id: "orders_search" do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "search", name: nil %>
    </p>
  <% end %>
  <div id="orders">
    <%= render 'merchant_index' if current_user.role == "Merchant" %>
    <%= render 'courier_index' if current_user.role == "Courier" %>
  </div>
</div>