<div class="section-content">
 <h1>Orders</h1>
 <%= form_tag orders_path, method: 'get' do %>
 <p>
   <%= text_field_tag :search, params[:search] %>
   <%= submit_tag "search", name: nil %>
 </p>
 <% end %>
 <table class="pretty">
 <tr>
   <th><%= sortable "tracking_number"%></th>
   <th><%= sortable "status"%></th>
   <th><%= sortable "delivery_time"%></th>
   <th><%= sortable "delivery_address"%></th>
   <th><%= sortable "location_name"%></th>
   <th><%= sortable "courier"%></th>
 </tr>
    <% @order.each do |o| %>
          <tr>
            <td><%= link_to o.tracking_number, business_location_order_path(o.location.business, o.location, o) %></td>
            <td>Package is: <%= Geocoder::Calculations.distance_between(o.location.address, o.delivery_address).round(2) %> miles away!</td>
            <td><%= o.delivery_time %></td>
            <td><%= o.delivery_address %></td>
            <td><%= o.location.location_name %></td>
            <td>Name</td>
          </tr>
    <% end %>
    </table>
</div>
