<%= simple_form_for [@business, @location] do |f| %>
  <% if @location.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @location.errors.full_messages %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.input :location_name, placeholder: "Location Name" %></br>
    <%= f.input :address, placeholder: "Address" %></br>
    <%= f.input :phone_number, placeholder: "Phone Number" %>
  </div>
  <div class="actions"><%= f.button :submit %></div>
<% end %>
<script>
function showPosition() {console.log("ok")};
  navigator.geolocation.getCurrentPosition(showPosition);

</script>