<%= simple_form_for [@business, @location] do |f| %>
    <div>
      <% f.error_notification %>
    </div>
  <div class="field">
    <fieldset>
      <legend></legend>
    <%= f.input :location_name, :autofocus => true, placeholder: "Location Name" %></br>
    <%= f.input :address, placeholder: "Address" %></br>
    <%= f.input :phone_number, placeholder: "Phone Number" %>
 </fieldset>
  </div>
  <div class="actions"><%= f.button :submit %></div>
<% end %>