<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar glyph"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand"><%= link_to "Simple Delivery", :root %></span>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav" id="myNav1">
      <% if user_signed_in? %>
        <% if current_user.role == "Merchant" %>
          <li class="active"><%= link_to "Businesses", :root, class:"link" %></li>
          <li class="inactive"><%= link_to "Locations", locations_path, class:"link"  %></li>
          <li class="inactive"><%= link_to "Orders", orders_path, class:"link" %></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
      <% elsif current_page? new_user_session_path %>
        <ul class="nav navbar-nav navbar-right">
          <li id="lowerlink"><%= link_to "Sign up", new_user_registration_path, class:"link" %><br /></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li id="lowerlink"><%= link_to "Login", new_user_session_path, class:"link" %><br /></li>
        </ul>
      <% end %>
  </div>
</nav>