<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Simple Delivery" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Simple Delivery" %>">
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>
    <div class="alert"><%= render 'layouts/messages', flash: flash %></div>
    <section id="main">
        <%= yield %>
    </section>
  <footer id="footer">
    <p class="pull-left">© 2013 Swish, Inc.</a></p>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p class="pull-right"><%= link_to "Login", new_user_session_path %></p>
  </footer>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA9JBz-80iyKF7JGzeikG0zHHqWdF2CLPs&sensor=true"></script>
  </body>
</html>